.add-option-error {
    color: $brand-2;
    font-style: italic;
    margin: $m-size 0 0 0;
    padding: 0 $m-size;
}

.add-option {
    display: flex;
    flex-direction: column;
    padding: $m-size;
    word-wrap: break-word;
    }

.add-option__input {
    background: $brand-3;
    border: none;
    border-bottom: .3rem solid darken($brand-3, 10%);
    flex-grow: 1;
    margin: 0 0 $s-size 0;
    //margin-right: $s-size;
    color: $brand-2;
    padding: $s-size;
    
}

@media (min-width: $desktop-breakpoint) {
    .add-option {
        flex-direction: row;
    }
    .add-option__input {
        margin: 0 $s-size 0 0;
    }
}

