.header {
    background: $brand-1;
    color: $text-1;
    margin-bottom: $xl-size;
    padding: $m-size 0;
}

.header__title {
    font-size: $xl-size;
    margin: 0;
}

.header__subtitle {
    color: $brand-2;
    font-size: $l-size;
    font-weight: 800;
    margin: 0;
}

@media (max-width: $desktop-breakpoint) {
    .header {
        margin-bottom: $m-size;        
    }
    .header__title {
        font-size: $l-size;
}
    .header__subtitle {
        font-size: $m-size;
    }
}