.ReactModalPortal>div {
    opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
    align-items: center;
    display: flex;
    justify-content: center;
    transition: opacity 2500ms ease-in-out;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;
}

.option-modal {
    background: $brand-6;
    border-radius: 85px;
    color: $text-1;
    max-width: 30rem;
    outline: none;
    padding: $l-size;
    text-align: center;
    border-bottom: .6rem solid darken($brand-6, 10%);
    border-right: .6rem solid darken($brand-6, 10%);
}

.modal__title {
    margin: 0 0 $m-size 0;
}

.modal__body {
    color: red;
    font-family: $font-2;
    font-size: 2.5rem;
    font-weight: 700;
    margin: 0 0 $l-size 0;
    word-break: break-all;
}

.info-modal {
      background: $brand-2;
      border-radius: 85px;
      color: rgb(251, 249, 252);
      max-width: 30rem;
      outline: none;
      padding: $l-size;
      text-align: center;
         border-bottom: .6rem solid darken($brand-2, 10%);
         border-right: .6rem solid darken($brand-2, 10%);
}

.info-modal__title {
    color: $text-2;
    font-weight: 800;
    margin: 0 0 $m-size 0;
    text-shadow: .8px .8px navajowhite;
}

.p-info {
    //color: $text-2;
    font-family: $font-4;
    font-size: $m-size;
    font-weight: 400;
    text-shadow: 1px 1px black;
}
