
html {
    font-size: 62.5%;
}

body {    
    background-color: $brand-3;
    font-family : $font-1;
    font-size: $m-size;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}